<div id="<%= dom_id item %>">
  <div>
    <strong>List:</strong>
    <%= item.list_id %>
  </div>

  <div>
    <strong>Content:</strong>
    <%= item.content %>
  </div>

  <div>
    <strong>Completed:</strong>
    <%= item.completed %>
  </div>

</div>
